<!DOCTYPE html>
<html lang="en-gb">
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    
    {{! Fixes for IE8 }}
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="{{asset "css/screen.css"}}">
    <link rel="stylesheet" href="{{asset "css/screen-500.css"}}" media="(min-width: 500px)">
    <link rel="stylesheet" href="{{asset "css/screen-900.css"}}" media="(min-width: 900px)">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700|Lobster+Two:400,700|Lora:400,400i,700,700i">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <header>
        <div class="inner">
            <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
            
            {{navigation}}
        </div>
    </header>

    {{! Everything else gets inserted here }}
    {{{body}}}
    
    <footer class="clearfix">
        <div class="inner">
            <ul id="social-networks">
                <li>
                    <a href="//twitter.com/JoshTumath">
                        <img src="{{asset "images/twitter@2x.png"}}"
                             srcset="{{asset "images/twitter@2x.png"}} 1x, {{asset "images/twitter@2x.png"}} 2x"
                             alt="Twitter">
                    </a>
                </li><li>
                    <a href="//www.linkedin.com/in/joshtumath">
                        <img src="{{asset "images/linkedin@2x.png"}}"
                             srcset="{{asset "images/linkedin@2x.png"}} 1x, {{asset "images/linkedin@2x.png"}} 2x"
                             alt="LinkedIn">
                    </a>
                </li><li>
                    <a href="//github.com/JoshTumath">
                        <img src="{{asset "images/github@2x.png"}}"
                             srcset="{{asset "images/github@2x.png"}} 1x, {{asset "images/github@2x.png"}} 2x"
                             alt="GitHub">
                    </a>
                </li>
            </ul>

            <div id="license">
                <p>&copy; Josh Tumath {{date format="YYYY"}}</p>
            </div>
        </div>
    </footer>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{! The main JavaScript file for Casper }}
    <script src="{{asset "js/index.js"}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.1/picturefill.js"></script>
</body>
</html>
